html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:link,
a:visited {
	color: black;
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p,
ul ,li, button, form,
fieldset, input, textarea {
	-webkit-appearance: none;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	margin: 0 0 20px;
	padding: 0;
}


button, input, textarea, fieldset {
	background-color: transparent;
	border: none;
	color: currentColor;
	text-align: auto;
	font: inherit;
	letter-spacing: inherit;
}

button:focus,
input:focus, textarea:focus {
	outline: none;
	box-shadow: none;
}
input[type="text"], textarea, fieldset {
	width: 100%;
}
ul {
	list-style: none;
}




button {
	-webkit-appearance: none;
	height: 48px;
	padding: 0 40px;
	border: 2px solid black;
	color: black;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

button:focus,
button:hover {
	background-color: black;
	color: #fff;
	
}